{% extends "base.html" %}

{% block title %}Main page{% endblock %}

{% block content %}
<div class="jumbotron ">
  <h1>Ninja tech forum</h1>
  <h3>Welcome to Ninja Tech Forum - the best forum for tech fans.</h3>
{% if user %}
  <div class="content hideContent">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at neque id sem efficitur interdum et vel odio. Pellentesque convallis sapien urna, vitae bibendum augue fringilla vitae. Pellentesque dictum interdum dolor vel aliquam. Proin pellentesque metus vitae ipsum commodo, ut porta purus commodo. Integer sed eros sed tortor luctus egestas id eget felis. Ut hendrerit placerat dignissim. Cras molestie urna eros, et ullamcorper risus faucibus ut. Nulla fermentum vestibulum nisi sit amet aliquet.
  </div>
  <div class="show-more">
    <a href="#">Show more</a>
  </div>
{% endif %}
</div>

{% if not user %}
<div class="text-center">
  <button type="button" class="btn text-center subscribe" data-toggle="modal" data-target="#subscribe-non-user">
    <p class="h3 text-center">SUBSCRIBE TO LATEST TOPICS!</p>
  </button>
</div>
<!-- Modal: subscribe - non user -->
<div class="modal fadedown" id="subscribe-non-user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">If you want to subscribe to our news, you have to login first!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </form>
  </div>
</div>
</div>
<!--End modal: subscribe non user-->
{% endif %}

<br />
<br />
<div class="container-fluid">
  <table id="topicTable" class="table table-hover">
    <thead>
      <tr class="bg-primary">
        <th>AUTHOR</th>
        <th>TOPIC</th>
        <th class="text-right">DATE / TIME</th>
      </tr>
    </thead>
    <tbody>
      {% for topic in topics %}
      <tr onclick="window.location='/topic/{{ topic.key.id() }}/details';" class="table">
        <td class="ellipsis">{{topic.author_email}}</td>
        <td class="ellipsis">{{topic.title}}</td>
        <td class="text-right ellipsis">{{topic.created.strftime('%Y/%m/%d; %H:%M')}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
